@model List<NewsSite.Models.View.ExchangesViewModel>

@foreach (var item in Model)
{
    <hr />
    <p>@item.Name</p>
    <p>@item.Code</p>
    <p>@item.PerUnit</p>
    <p>@item.Course</p>
    <p>@item.ReverseCourse</p>
    <hr />
}