@model IEnumerable<NewsSite.Models.Data.Article>;
@{
    ViewData["Title"] = "All";
}

    <form>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.CreatedOn</td>
                    <td>@item.ModifiedOn</td>
                    <td>
                        <button asp-controller="Articles" asp-action="Edit" asp-route-id="@item.Id" class="btn-primary">Edit</button>
                        <button asp-controller="Articles" asp-action="Delete" asp-route-id="@item.Id" class="btn-danger">Delete</button>
                    </td>
                </tr>
            }

        </table>
    </form>
