@model NewsSite.Models.View.ArticleViewModel
@using Ganss.XSS;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    var sanitizer = new HtmlSanitizer();
    ViewData["Title"] = @Model.Title;
}

<body>
    <div class="container">
        <div class="container-fluid p-0 mt-1 mb-3">

            <!-- Post Content Column -->
            <div class="col-9 pr-2 pl-0 float-left leftColumn">
                <div class="row w-100">
                    <h1>@Model.Title</h1>
                    <p class="lead w-100"><a href="#">@Model.Author</a></p>
                    <p class="m-0"><i class="far fa-clock"></i> @Model.CreatedOn.ToString("dd.MM.yyyy | HH.mm") | <i class="far fa-eye"></i> @Model.Views</p>
                </div>
                <hr class="row w-100" />
                <div class="row w-100" style="height:80vh;">
                    <img class="img-fluid rounded w-100 h-100" src="@Model.ImageUrl" style="object-fit: cover; object-position: 50% 0;">
                </div>
                <div class="row w-100">
                    <hr />
                    <p class="lead">@Html.Raw(sanitizer.Sanitize(Model.Content))</p>
                </div>
                <div class="row">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="card my-4 mt-1 w-100">
                            <h5 class="card-header">Коментар</h5>
                            <div class="card-body">
                                <form method="post">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="commentContent"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Коментирай</button>
                                </form>
                            </div>
                        </div>
                    }
                    else
                    {

                        <h5 class="mt-1 mb-3">
                            Трябва да сте регистриран за да коментирате
                            <a asp-area="Identity" asp-page="/Account/Login">Вход</a>
                            |
                            <a asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
                        </h5>

                    }
                    @foreach (var comment in @Model.Comments)
                    {
                        <div class="row w-100">              
                            <div class="media mb-4" style="word-break: break-all;">
                                <div class="media-body">
                                    <h5 class="mt-0">
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                        {
                                            <a class="btn btn-danger" asp-controller="Articles" asp-action="DeleteComment" asp-route-id="@comment.Id"><i class="far fa-trash-alt"></i></a>
                                        }

                                        @comment.User.UserName
                                    </h5>
                                    <h6 class="mt-0">@comment.CreatedOn.ToString("dd.MM.yyyy | HH.mm")</h6>
                                    @comment.Content
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-3 p-0 float-right rightColumn">
            <vc:search></vc:search>
            <vc:top-articles count="10"></vc:top-articles>
        </div>
    </div>
</body>