@model NewsSite.Models.View.ArticleViewModel

    <div class="container w-75">
        <h1 style="color: red">@Model.Title</h1>
        <h2>@Model.Subtitle</h2>
        <h5><i class="fa fa-clock"></i> @Model.CreatedOn.ToString("dd.MM.yyyy | hh.mm") | <i class="fa fa-eye"></i> @Model.Views</h5>
        <h5><i class="fa fa-user"></i> @Model.Author</h5>
        <h4>@Model.Content</h4>
        <h5>@Model.Category.Name</h5>
        <hr />
    </div>
