@model NewsSite.Models.View.TopArticlesViewModel
<div style="height: 60.0vh">

    <div class="row w-100 h-100">
        <ul class="nav nav-tabs w-100">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#mostRead" role="tab" aria-controls="home">НАЙ-ЧЕТЕНИ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#mostCommented" role="tab" aria-controls="home">НАЙ-КОМЕНТИРАНИ</a>
            </li>
        </ul>

        <div class="tab-content h-100 w-100">
            <div class="tab-pane active h-100 w-100" id="mostRead" role="tabpanel" style="overflow-y: scroll;">
                <div class="sv-tab-panel h-100 w-100">
                    @if (Model.TopRead.Count() > 0)
                    {
                        <div class="list-group h-100 w-100">
                            @foreach (var article in Model.TopRead)
                            {
                                <div class="list-group-item p-1">
                                    <img class="float-left"
                                         src="@article.ImageUrl"
                                         alt="Няма снимка" style="height: 4rem; width: 4rem;">
                                    <p class="mainText m-0 pl-1">@article.Title</p>
                                    <p class="text-muted m-0">@article.CreatedOn.ToString("dd.MM.yyyy | HH.mm")</p>
                                    <a class="stretched-link" href="/Articles/Id/@article.Id"></a>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>

            <div class="tab-pane h-100 w-100" id="mostCommented" role="tabpanel">
                <div class="sv-tab-panel h-100 w-100">

                    @if (Model.TopCommented.Count() > 0)
                    {
                        <div class="list-group h-100 w-100">

                            @foreach (var article in Model.TopCommented)
                            {
                                <div class="list-group-item p-1">
                                    <img class="float-left"
                                         src="@article.ImageUrl"
                                         alt="Card image cap" style="height: 4rem; width: 4rem;">
                                    <p class="mainText m-0 pl-1">@article.Title</p>
                                    <p class="text-muted m-0">@article.CreatedOn.ToString("dd.MM.yyyy | hh.mm")</p>
                                    <a class="stretched-link" asp-controller="Articles" asp-action="Id"asp-route-id="@article.Id"></a>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
