@model NewsSite.Models.Input.CreateEditArticleInputModel
@using NewsSite.Services
@using Ganss.XSS;
@inject ICategoryService categoryService;
@{
    ViewData["Title"] = "Create new article";
    var categories = await categoryService.GetAllAsync();
    var sanitizer = new HtmlSanitizer();
}

<form method="post" class="h-100" style="overflow-y: scroll;">
    <div>
        <label>Заглавие:</label><br />
        <input type="text" class="form-control" name="Title" value="@Model.Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div>
        <label>Подзаглавие:</label><br />
        <input type="text" class="form-control" name="Subtitle" value="@Model.Subtitle" />
    </div>

    <div>
        <label>Автор:</label><br />
        <input type="text" class="form-control" name="Author" value="@Model.Author" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div>
        <label>Линк на снимка:</label><br />
        <input type="text" class="form-control" name="ImageUrl" value="@Model.ImageUrl" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div>
        <label>Категория:</label><br />
        <select class="form-control custom-select-sm" name="CategoryId">
            @foreach (var category in categories)
            {
                @if (Model.CategoryId == category.Id)
                {
                    <option value="@category.Id" selected>@category.Name</option>
                }
                else
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div>
        <label>Съдържание:</label><br />
        <textarea class="form-control" rows="25" name="Content">@Html.Raw(sanitizer.Sanitize(Model.Content))</textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <hr />
    <div>
        <input type="submit" class="btn btn-primary" value="Добави" />
    </div>
</form>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: 'textarea' });</script>