@using NewsSite.Services
@inject IArticlesService articlesService;
@{
    ViewData["Title"] = "All";
    var articles = articlesService.GetAll();
}

<form>
    <table class="table table-hover table-bordered table">
        <tr>
            <th>Id</th>
            <th>Заглавие</th>
            <th>Автор</th>
            <th>Създадена на</th>
            <th>Последна промяна</th>
            <th>Категория</th>
            <th>Действия</th>
        </tr>
        @foreach (var item in articles)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.CreatedOn.ToString("dd.MM.yyyy - HH:mm")</td>
                <td>@item.ModifiedOn.ToString("dd.MM.yyyy - HH:mm")</td>
                <td>@item.Category.Name</td>
                <td>
                    <div class="btn-group">
                        <button asp-controller="Editor" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</button>
                        <button asp-controller="Editor" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</button>
                    </div>
                </td>
            </tr>
        }

    </table>
</form>
