@using NewsSite.Services
@using NewsSite.Models.Data
@inject IArticlesService articlesService;
@inject ICategoryService categoryService;
@{
    ViewData["Title"] = "Home Page";
    var articles = articlesService.GetAll();
    var categories = categoryService.GetAll();
    var lastArticles = new List<Article>();
    foreach (var category in categories)
    {
        if (category.Articles.Count > 0)
        {
            lastArticles.Add(category.Articles.OrderByDescending(x => x.CreatedOn).FirstOrDefault());
        }
    }
}

<div class="card-deck">
    @foreach (var lastArticle in lastArticles)
    {
        <div class="card m-1 p-1 rounded-0">
            <p class="categoryText w-100 text-left my-0 py-0">@lastArticle.Category.Name.ToUpper()</p>
            <img style="height:150px;" class="card-img-top rounded-0" src="@lastArticle.ImageUrl" alt="Card image cap">
            <div class="card-body m-1 p-1">
                <h6 class="card-title">@lastArticle.Title</h6>
                <p class="card-text"><small class="text-muted">@lastArticle.CreatedOn</small></p>
                <a class="stretched-link" href="/Articles/Id/@lastArticle.Id"></a>
            </div>
        </div>
    }
</div>

<div style="width: 100%;">
    <div style="display: table-row">
        <div style="width: 33.33%; display: table-cell;">
        </div>
    </div>
</div>


<div style="width: 100%; display: table;">
    <div class="container-fluid" style="display: table-row">

        <div class="container-fluid" style="width: 33.33%; display: table-cell;">
            <h5 class="text-left">ПОСЛЕДНИ</h5>
            <div class="row">
                <div class="list-group bg-light ">

                    @foreach (var article in articles.OrderByDescending(x => x.CreatedOn))
                    {
                        <a class="list-group-item clearfix p-0" href="\Articles\Id\@article.Id">
                            <img class="float-left mr-2" src="@article.ImageUrl" style="width:64px; height:64px;" />
                            <h6 class="text-left my-auto">@article.Title</h6>
                        </a>
                    }
                </div>
            </div>
        </div>

        <div class="container-fluid" style="width: 33.33%; display: table-cell;">
            <h5>НАЙ-ЧЕТЕНИ</h5>
            <div class="row">
                <div class="list-group">
                    @foreach (var article in articles.OrderByDescending(x => x.Views))
                    {
                        <a class="list-group-item clearfix p-0" href="\Articles\Id\@article.Id">
                            <img class="float-left mr-2" src="@article.ImageUrl" style="width:64px; height:64px;" />
                            <h6 class="text-left my-auto">@article.Title</h6>
                        </a>
                    }
                </div>
            </div>
        </div>

        <div class="container-fluid" style="width: 33.33%; display: table-cell;">
            <h5>НАЙ-КОМЕНТИРАНИ</h5>
            <div class="row">
                <div class="list-group">
                    @foreach (var article in articles.OrderByDescending(x => x.Views))
                    {
                        <a class="list-group-item clearfix p-0" href="\Articles\Id\@article.Id">
                            <img class="float-left mr-2" src="@article.ImageUrl" style="width:64px; height:64px;" />
                            <h6 class="text-left my-auto">@article.Title</h6>
                        </a>
                    }
                </div>
            </div>
        </div>

    </div>
</div>