@using NewsSite.Models.Data
@model List<Article>

<h1>Намерени: @Model.Count</h1>
<table class="table table-hover table-bordered table">
    <tr>
        <th>Заглавие</th>
        <th>Автор</th>
        <th>Качена на</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a asp-controller="Articles" asp-action="Id" asp-route-id="@item.Id">@item.Title</a></td>
            <td>@item.Author</td>
            <td>@item.CreatedOn.ToString("dd.MM.yyyy | HH:mm")</td>
        </tr>
    }

</table>