@model NewsSite.Models.View.MainArticlesViewModel

<div class="row w-100">
    <h5 class="p-0 m-0 w-100 componentTitle"><i class="fas fa-fire-alt" style="color: Orangered"></i> ВОДЕЩИ</h5>
</div>
<div class="row w-100 shadow" style="height: 60.0vh; font-size: 14px;">
    <div class="col-8 p-0 h-100">
        <div class="tab-content h-100">
            @for (int i = 0; i < Model.Articles.Count() - 1; i++)
            {
                <div class="tab-pane @(i == 0 ? "active " : "")h-100" id="articleTab@(i)" role="tabpanel">
                    <div class="sv-tab-panel h-100">
                        <div class="card h-100 w-100 overflow-hidden">
                            <img class="card-img-top w-100"
                                 src="@Model.Articles[i].ImageUrl"
                                 alt="Няма снимка"
                                 style="height: 40vh; object-fit: cover; object-position: 50% 0;" />
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">
                                    @Model.Articles[i].Title
                                </h5>
                                <p class="card-text">
                                    @Model.Articles[i].Subtitle
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="far fa-list-alt"></i>
                                @Model.Articles[i].Category.Name |
                                <i class="far fa-clock"></i>
                                @Model.Articles[i].CreatedOn.ToString("dd.MM.yyyy | HH:mm") |
                                <i class="far fa-comment-dots"></i>
                                @Model.Articles[i].Comments.Count()
                            </div>
                            <a class="stretched-link" asp-controller="Articles" asp-action="Id" asp-route-id="@Model.Articles[i].Id"></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-4 p-0" style="max-height: 60.0vh;">
        <ul class="nav nav-tabs h-100" id="tabs" style="overflow-y: scroll; display:block;" role="tablist">

            @for (int i = 0; i < Model.Articles.Count() - 1; i++)
            {
                <li class="nav-item">
                    <a class="nav-link text-left mainArticles" href="/Articles/Id/@Model.Articles[i].Id" data-target="#articleTab@(i)" role="tab">
                        <i class="far fa-newspaper"></i> @Model.Articles[i].Title
                        <p class="text-muted small">
                            <i class="far fa-clock"></i>
                            @Model.Articles[i].CreatedOn.ToString("dd.MM.yyyy | HH:mm")
                            | <i class="far fa-comment-dots"></i>
                            @Model.Articles[i].Comments.Count()
                        </p>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
